* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.navbar {
  width: 100%;
}
.nav__wrp {
  display: flex;
  height: 44px;
  align-items: center;
  font-size: 12px;
  justify-content: center;
  background-color: #f9f9fb;
}
.nav__wrp .search__icon,
.bag__icon {
  margin: 16px;
  font-size: large;
}
.apple__icon {
  margin: 16px;
  font-size: 19px;
}
.nav__wrp .apple__icon,
.search__icon,
.bag__icon:hover {
  cursor: pointer;
}
.dropdown {
  width: 100%;
  height: 45vh;
  background: #f9f9fb;
  position: absolute;
  left: 0;
  top: -100%;
  transform: scaleY(0);
}
.nav__link {
  /* background-color: red; */
  height: 100%;
  display: grid;
  place-items: center;
}
.dropdown__header {
  display: flex;
  padding: 20px 100px 0px 350px;
}
.collection {
  margin: 0px 50px;
  text-align: left;
  & h3 {
    margin-bottom: 20px;
    font-weight: 200;
    color: grey;
  }& h3:hover{
    cursor: pointer;
  }
  & li {
    font-size: 15px;
    /* font-weight: 550; */
    list-style-type: none;
    margin: 5px 0;
    font-family: sans-serif;
  }
  & li:hover{
    cursor: pointer;
  }
}
.collection:first-child ul li{
  font-size: 25px;
  font-weight: 600;
}
.nav__link .title__text {
  margin: 0 16px;
  padding: 2.9px;
}
.nav__link .title__text:hover {
  cursor: pointer;
}
.nav__link:hover .dropdown {
  top: 40px;
  transform: scaleY(1);
}
